body {
  /* width: 960px; */
  margin:auto;
  font-family: sans-serif;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.errors{
  height: 500px;
  width: 500px;
  margin: auto;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.errors > div {
  display: flex;
  min-width: 50px;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.errors > div > :nth-child(1){
  width: 20px;
  font-size: 14px;
  font-weight: 100;
}
.errors > div > :nth-child(2){
  background-color: grey;
  margin: 2px;
}
.errors > div > :nth-child(3){
  transform: rotate(50deg);
  transform-origin: left;
  font-size: 12px;
  position: absolute;
  left: 22px;
  bottom: -15px;
}