body {
  width: 960px;
  margin: 0 auto;
  font-family: sans-serif;
}
.errors{
  overflow: scroll;
  height: 750px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.errors > div {
  display: flex;
  min-width: 50px;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.errors > div > :nth-child(1){
  width: 20px;
  font-size: 14px;
  font-weight: 100;
}
.errors > div > :nth-child(2){
  background-color: grey;
  margin: 2px;
}
.errors > div > :nth-child(3){
  transform: rotate(50deg);
  transform-origin: left;
  font-size: 12px;
  position: absolute;
  left: 22px;
  bottom: -15px;
}